<!DOCTYPE html>
<html>
<!-- TODO: Fix checkboxes not getting disabled properly when configuration is reloaded from server -->
<head>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="bg-black">
        <nav class="relative mx-auto my-auto flex w-full max-w-xs justify-center bg-black">
          <a href="/" class="block px-2 py-1 font-bold text-white">Home</a>
          <a href="/config" class="block px-2 py-1 font-bold text-white">Config</a>
          <a href="#" class="block px-2 py-1 font-bold text-white">Docs</a>
        </nav>
    </div>
    <div class="m-4 text-center text-2xl font-bold">Configuration</div>
  
    <div class="m-4 text-center text-2xl">Trainer</div>
    <div class="mx-auto flex justify-center">
      <div class="flex flex-col items-center">
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" class="m-2 rounded border p-2" placeholder="Username" />
        <label for="server" class="sr-only">Server</label>
        <input type="text" id="server" class="m-2 rounded border p-2" placeholder="Server" />
        <label for="image_count" class="sr-only">Image Count</label>
        <input type="number" id="image_count" class="m-2 rounded border p-2" placeholder="Image Count" />
        <label for="batch_size" class="sr-only">Batch Size</label>
        <input type="number" id="batch_size" class="m-2 rounded border p-2" placeholder="Batch Size" />
      </div>
      <div class="flex flex-col items-center">
        <label for="hf_token" class="sr-only">HF Token</label>
        <input type="text" id="hf_token" class="m-2 rounded border p-2" placeholder="HF Token" />
        <label for="save_steps" class="sr-only">Save Steps</label>
        <input type="number" id="save_steps" class="m-2 rounded border p-2" placeholder="Save Steps" />
        <label for="gradient_checkpointing" class="flex items-center">
          <input type="checkbox" id="gradient_checkpointing" class="m-2 rounded border p-2" placeholder="Gradient Checkpointing"/>
          <span>Gradient Checkpointing</span>
        </label>
        <label for="xformers" class="flex items-center">
          <input type="checkbox" id="xformers" class="m-2 rounded border p-2" placeholder="Xformers"/>
          <span>Xformers</span>
        </label>
        <label for="8bit_adam" class="flex items-center">
          <input type="checkbox" id="8bit_adam" class="m-2 rounded border p-2" placeholder="8Bit Adam"/>
          <span>8Bit Adam</span>
        </label>
      </div>
    </div>
    <div class="mx-auto flex justify-center">
      <div class="flex flex-col items-center">
        <div class="m-4 text-center text-2xl">Public Telemetry</div>
        <label for="enable_stats" class="flex items-center">
          <input type="checkbox" id="enable_stats" class="m-2 rounded border p-2" placeholder="Enable Stats"/>
          <span>Enable Stats</span>
        </label>
        <label for="geoaprox" class="flex items-center">
          <input type="checkbox" id="geoaprox" class="m-2 rounded border p-2" placeholder="geoaprox"/>
          <span>Geolocation</span>
        </label>
        <label for="bandwidth" class="flex items-center">
          <input type="checkbox" id="bandwidth" class="m-2 rounded border p-2" placeholder="bandwidth"/>
          <span>Bandwidth</span>
        </label>
        <label for="specs" class="flex items-center">
          <input type="checkbox" id="specs" class="m-2 rounded border p-2" placeholder="specs"/>
          <span>Specifications</span>
        </label>
      </div>
  
      <div class="flex flex-col items-center">
        <div class="m-4 text-center text-2xl">Networking</div>
        <div class="mx-auto flex justify-center">
          <div class="mr-5 flex flex-col items-center">
            <label for="trainer_mode">Trainer Mode</label>
            <select id="trainer_mode" class="rounded border border-gray-400 p-2">
              <option>Client</option>
              <option>Relay</option>
            </select>
            <label for="public_ip" class="sr-only">Public IP</label>
            <input type="text" id="public_ip" class="m-2 w-40 rounded border p-2" placeholder="Public IP" />
          </div>
  
          <div class="flex flex-col items-center">
            <label for="internal_ports">Internal Ports</label>
            <div class="mx-auto flex justify-center">
              <label for="internal_udp" class="sr-only">Internal UCP Port</label>
              <input type="text" id="internal_udp" class="m-2 w-14 rounded border p-1" placeholder="UDP" />
              <label for="internal_tcp" class="sr-only">Internal TCP Port</label>
              <input type="text" id="internal_tcp" class="m-2 w-14 rounded border p-1" placeholder="TCP" />
            </div>
            <label for="external_ports">External Ports</label>
            <div class="mx-auto flex justify-center">
              <label for="external_udp" class="sr-only">External UCP Port</label>
              <input type="text" id="external_udp" class="m-2 w-14 rounded border p-1" placeholder="UDP" />
              <label for="external_tcp" class="sr-only">External TCP Port</label>
              <input type="text" id="external_tcp" class="m-2 w-14 rounded border p-1" placeholder="TCP" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-auto mb-5 flex justify-center">
      <div class="flex flex-col items-center">
        <div class="m-4 text-center text-2xl">Private Telemetry</div>
        <label for="enable_wandb" class="flex items-center">
          <input type="checkbox" id="enable_wandb" class="m-2 rounded border p-2" placeholder="Enable WandB" />
          <span>Enable WandB</span>
        </label>
        <label for="wandb_token" class="sr-only">WandB Token</label>
        <input type="text" id="wandb_token" class="m-2 rounded border p-2" placeholder="WandB Token" />
        <label for="enable_inference" class="flex items-center">
          <input type="checkbox" id="enable_inference" class="m-2 rounded border p-2" placeholder="Enable Inference" />
          <span>Enable Inference </span>
        </label>
      </div>
    </div>
    <div class="flex justify-center">
        <button onclick="submit_conf();" type="submit" class="focus:shadow-outline m-2 rounded bg-green-500 py-2 px-4 font-bold text-white hover:bg-green-700 focus:outline-none">Save</button>
        <!-- <button type="submit" class="focus:shadow-outline m-2 rounded bg-red-500 py-2 px-4 font-bold text-white hover:bg-red-700 focus:outline-none">Reset</button> -->
    </div>
    <script>
        function submit_conf() {
            const username = document.getElementById('username').value;
            const server = document.getElementById('server').value;
            const imageCount = document.getElementById('image_count').value;
            const batchSize = document.getElementById('batch_size').value;
            const hftoken = document.getElementById('hf_token').value;
            const savesteps = document.getElementById('save_steps').value;
            const gradckpt = document.getElementById('gradient_checkpointing').checked;
            const xformers = document.getElementById('xformers').checked;
            const eightbitadam = document.getElementById('8bit_adam').checked;
            const enablestats = document.getElementById('enable_stats').checked;
            const geoaprox = document.getElementById('geoaprox').checked;
            const bandwidth = document.getElementById('bandwidth').checked;
            const specs = document.getElementById('specs').checked;
            const trainermode = document.getElementById('trainer_mode').value;
            const publicip = document.getElementById('public_ip').value;
            const internal_udp = document.getElementById('internal_udp').value;
            const internal_tcp = document.getElementById('internal_tcp').value;
            const external_udp = document.getElementById('external_udp').value;
            const external_tcp = document.getElementById('external_tcp').value;
            const enable_wandb = document.getElementById('enable_wandb').checked;
            const wandb_token = document.getElementById('wandb_token').value;
            const enable_inference = document.getElementById('enable_inference').checked;
            
            const data = {
                username: username,
                server: server,
                imageCount: imageCount,
                batchSize: batchSize,
                hftoken: hftoken,
                savesteps: savesteps,
                gradckpt: gradckpt,
                xformers: xformers,
                eightbitadam: eightbitadam,
                enablestats: enablestats,
                geoaprox: geoaprox,
                bandwidth: bandwidth,
                specs: specs,
                trainermode: trainermode,
                publicip: publicip,
                internal_udp: internal_udp,
                internal_tcp: internal_tcp,
                external_udp: external_udp,
                external_tcp: external_tcp,
                enable_wandb: enable_wandb,
                wandb_token: wandb_token,
                enable_inference: enable_inference,
            };

            console.log(JSON.stringify(data))
            
            fetch('/saveconf', {
			  method: 'POST',
			  headers: {
				'Content-Type': 'application/json'
			  },
			  body: JSON.stringify(data)
			})
			.then((response) => {
			  if (response.status === 200) {
				alert('Success!');
			  } else if (response.status === 502) {
          alert('Failed to retrieve configuration from Server!')
        }else {
				alert('Failed!');
			  }
			});
        }

    </script>
    <script>
        function get_conf() {
        fetch('/getconf')
        .then((response) => response.json())
        .then((data) => {
            // Set the value of the input elements to the corresponding configuration values
            if (data.username) {
              document.getElementById('username').value = data.username;
            }
            if (data.server) {
              document.getElementById('server').value = data.server;
            }
            if (data.imageCount) {
              document.getElementById('image_count').value = data.imageCount;
            }
            if (data.batchSize) {
              document.getElementById('batch_size').value = data.batchSize;
            }
            if (data.hftoken) {
              document.getElementById('hf_token').value = data.hftoken;
            }
            if (data.savesteps) {
              document.getElementById('save_steps').value = data.savesteps;
            }
            if (data.gradckpt) {
              document.getElementById('gradient_checkpointing').checked = data.gradckpt;
            }
            if (data.xformers) {
              document.getElementById('xformers').checked = data.xformers;
            }
            if (data.eightbitadam) {
              document.getElementById('8bit_adam').checked = data.eightbitadam;
            }
            if (data.enablestats) {
              document.getElementById('enable_stats').checked = data.enablestats;
            }
            if (data.geoaprox) {
            document.getElementById('geoaprox').checked = data.geoaprox;
            }
            if (data.bandwidth) {
            document.getElementById('bandwidth').checked = data.bandwidth;
            }
            if (data.specs) {
            document.getElementById('specs').checked = data.specs;
            }
            if (data.trainermode) {
            document.getElementById('trainer_mode').value = data.trainermode;
            }
            if (data.publicip) {
            document.getElementById('public_ip').value = data.publicip;
            }
            if (data.internal_udp) {
            document.getElementById('internal_udp').value = data.internal_udp;
            }
            if (data.internal_tcp) {
            document.getElementById('internal_tcp').value = data.internal_tcp;
            }
            if (data.external_udp) {
            document.getElementById('external_udp').value = data.external_udp;
            }
            if (data.external_tcp) {
            document.getElementById('external_tcp').value = data.external_tcp;
            }
            if (data.enable_wandb) {
            document.getElementById('enable_wandb').checked = data.enable_wandb;
            }
            if (data.wandb_token) {
            document.getElementById('wandb_token').value = data.wandb_token;
            }
            if (data.enable_inference) {
            document.getElementById('enable_inference').checked = data.enable_inference;
            }
        });
        }
        // Call the get_conf function when the page loads
        get_conf();
    </script>
	<script>
        function updateInputFields() {
            var trainerMode = document.getElementById('trainer_mode').value;
            var internalUdpInput = document.getElementById('internal_udp');
            var internalTcpInput = document.getElementById('internal_tcp');
            var externalUdpInput = document.getElementById('external_udp');
            var externalTcpInput = document.getElementById('external_tcp');
            var publicIpInput = document.getElementById('public_ip');
            
            if (trainerMode === 'Client') {
            internalUdpInput.disabled = true;
            internalTcpInput.disabled = true;
            externalUdpInput.disabled = true;
            externalTcpInput.disabled = true;
            publicIpInput.disabled = true;
            } else {
            internalUdpInput.disabled = false;
            internalTcpInput.disabled = false;
            externalUdpInput.disabled = false;
            externalTcpInput.disabled = false;
            publicIpInput.disabled = false;
            }
        }
        
        // Update the input fields when the page loads
        updateInputFields();
        
        // Update the input fields when the trainer_mode changes
        var trainerModeInput = document.getElementById('trainer_mode');
        trainerModeInput.addEventListener('change', updateInputFields);
        </script>
        <script>
        function updateCheckboxes() {
            var enableStatsChecked = document.getElementById('enable_stats').checked;
            var geoaproxCheckbox = document.getElementById('geoaprox');
            var bandwidthCheckbox = document.getElementById('bandwidth');
            var specsCheckbox = document.getElementById('specs');
            
            if (enableStatsChecked) {
            geoaproxCheckbox.disabled = false;
            bandwidthCheckbox.disabled = false;
            specsCheckbox.disabled = false;
            } else {
            geoaproxCheckbox.disabled = true;
            bandwidthCheckbox.disabled = true;
            specsCheckbox.disabled = true;
            
            geoaproxCheckbox.checked = false;
            bandwidthCheckbox.checked = false;
            specsCheckbox.checked = false;
            }
        }
        
        // Update the checkboxes when the page loads
        updateCheckboxes();
        
        // Update the checkboxes when the enable_stats checkbox changes
        var enableStatsCheckbox = document.getElementById('enable_stats');
        enableStatsCheckbox.addEventListener('change', updateCheckboxes);
        </script>
        <script>
        function updateInputFieldsAndCheckboxes() {
            var enableWandbChecked = document.getElementById('enable_wandb').checked;
            var wandbTokenInput = document.getElementById('wandb_token');
            var enableInferenceCheckbox = document.getElementById('enable_inference');
            
            if (enableWandbChecked) {
            wandbTokenInput.disabled = false;
            enableInferenceCheckbox.disabled = false;
            } else {
            wandbTokenInput.disabled = true;
            enableInferenceCheckbox.disabled = true;
            
            wandbTokenInput.value = '';
            enableInferenceCheckbox.checked = false;
            }
        }
        
        // Update the input fields and checkboxes when the page loads
        updateInputFieldsAndCheckboxes();
        
        // Update the input fields and checkboxes when the enable_wandb checkbox changes
        var enableWandbCheckbox = document.getElementById('enable_wandb');
        enableWandbCheckbox.addEventListener('change', updateInputFieldsAndCheckboxes);
        </script>
  </body>
</html>